body {
    font-family: 'Raleway', serif;
  text-align: center;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  font-size: 40px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
    font-weight: 400;
  }
  
#cardForm {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

button {
  background-color: #0074e4;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056a7;
}

/* Certificate Modal */

.modal {
    max-width: 800px;
    margin: 0 auto; /* Center horizontally */
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center both vertically and horizontally */
    z-index: 1;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    border: 3px solid #659f8f;
  }
  

.modal-content::before {
  content: "";
  position: absolute;
  top: -2px; right: -2px; bottom: -2px; left: -2px;
  z-index: -1;
  background: linear-gradient(#659f8f, #5d5f5e);
  border-radius: 15px;
}

.modal-content::after {
  content: "";
  position: absolute;
  top: -1px; right: -1px; bottom: -1px; left: -1px;
  z-index: -2;
  background: #fff;
  border: 1px solid #dc7f5f;
  border-radius: 15px;
}

#certificateContent {
  font-family: 'Raleway', serif;
  color: #333;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #dc7f5f;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 5px;
  font-weight: normal

}

h1 {
  color: #434443;
  font-size: 30px;
  font-weight: bold
  
}

h2 {
  color: #434443;
  font-size: 30px;
  font-weight: bold
}
.modal-content , .modal-content p {
  color: #5d5f5e;
  font-size: 20px;
  font-weight: normal
}

.close {
  color: #dc7f5f;
}

/* border to the certificate content */
#certificateContent {
  background: #f9f9f9;
  /*opacity: 0.5;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-style: dotted;
}

/* button styles to*/
button {
  background-color: #659f8f;
  color: #fff;
}

button:hover {
  background-color: #5d5f5e;
}

.logo {
  display: block;
  margin: 50px auto; /* vertical margin */
  max-width: 200px; /*maximum width of the logo */
  background-color: #659f8f;
  padding: 20px;
}


.certificate-content {
  font-size: 20px; /*desired font size */
  font-weight: normal; /* font weight */
}

.certificate-content div {
  margin-bottom: 10px; /* spacing between each line */
}
